@font-face {
    font-family: "GretoonHighlight";
    src: url(../fonts/GretoonHighlight.ttf);
}

@keyframes float1 {
    0% {margin-top: 10px;}
    50% {margin-top: 40px;}
    100% {margin-top: 10px}
}

@keyframes float2 {
    0% {margin-bottom: 10px;}
    50% {margin-bottom: 40px;}
    100% {margin-bottom: 10px}
}

@keyframes waterfall {
    0% {transform: translateY(0px);}
    100% {transform: translateY(1000px);}
}

@keyframes move {
    /* 0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);} */
    0% {transform: translateY(0px);}
    25% {transform: translateY(-20px);}
    50% {transform: translateY(-0px);}
    75% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}

@keyframes text1 {
    0% {color: rgb(185, 119, 11, 0.897);}
    10% {color: rgba(245, 58, 33, 0.767);}
    20% {color: rgb(255, 16, 16);}
    30% {color: rgba(255, 0, 0, 0.767);}
    40% {color: rgb(226, 2, 2);}
    50% {color: rgba(235, 0, 0, 0.767);}
    60% {color: rgb(226, 2, 2);}
    70% {color: rgba(255, 0, 0, 0.767);}
    80% {color: rgb(255, 16, 16);}
    90% {color: rgba(245, 58, 33, 0.767);}
    100% {color: rgb(185, 119, 11, 0.897);}
}

.title {
    height: inherit;
    /* font-family: Flavors, sans-serif; */
    font-family: GretoonHighlight, sans-serif;
    /* text-shadow: rgba(255, 255, 181, 0.877); */
    /* color: rgba(133, 2, 2, 0.767); */
    color: rgb(185, 3, 3);
    /* font-size: 30em; */
    /* animation-name: text1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

.shop {
    position: absolute;
    max-width: 360px;
    min-width: inherit;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* padding-top: 28px; */
}

.modalImage {
    background-image: url("../assets/pizza-review-temp.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 280px;
    min-width: 280px;
    max-height: 55%;
    max-width: 90%;
    margin: auto;
    position: relative;
}

.bgImg {
    background-image: url("../assets/pizza-sauce-thumb.png");
    /* background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; */
    height: inherit;
    width: inherit;
    height: 120px;
    margin: auto;
}

#modalImage {
    text-decoration: none;
    /* min-width: 80px;
    max-width: 800px;
    min-height: 60px;
    max-height: 600px; */
}

.wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* display: grid; */
    /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    /* height: 100%; */
    overflow: hidden;
}

.column1 {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    width: 7%;
    /* width: 80px; */
    /* position: relative; */
    /* animation: waterfall 10s ease-in infinite; */
}
.column2 {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    width: 7%;
    /* width: 80px; */
    /* position: relative; */
    /* animation: waterfall 10s ease-in infinite; */
}

.slice {
    width: 50px;
    height: 50px;
    /* width: 80%; */
    /* height: 10%; */
    margin: 6px;
    /* margin-left: 50px; */
    /* margin: "auto"; */
    background-image: url("pizza-slice-vector.png");
    background-size: cover;

    /* animation: move 10s ease-in-out infinite; */

    /* transition: 6s ease; */

    /* animation-name: float1; */
    /* animation-duration: 7s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in-out; */
}

.pie {
    width: 50px;
    height: 50px;
    /* width: 80%; */
    /* height: 10%; */
    margin: 6px;
    /* margin-left: 50px; */
    /* margin: "auto"; */
    background-image: url("pizza-pie-vector.png");
    background-size: cover;

    /* animation: move 10s ease-in-out infinite; */

    /* transition: 5s; */

    /* margin-top: 5px; */
    /* margin: 10px 0px; */
    
    /* animation-name: float2; */
    /* animation-duration: 7s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in-out; */
}

.waterfall {
    animation: waterfall 5s infinite;
}

.textLight {
    color: #f8f9fa;
    /* transform: color(#f8f9fa); */
    /* transition: .5s ease transform; */
}